.img{
    height: 100vh;
    width: 100vw;
    display: flex;
}

body{
    overflow-x: hidden;
    display: flexbox;
}

.list {
    list-style: none;
    
}

.li {

    display: inline;

    font-family: "Gotham SSm";
    font-weight: 500;
    font-size: 14px;

    cursor: pointer;
    
}

header{
    height: 100px;
}

.link{

    text-decoration: none;
    color: white;
}

.mainTest{
    font-family: "Stencil";
    font-weight: 500;
}

.back{
    background-color: rgb(90, 30, 30);
}

.img-hover {
    transition: transform 0.3s ease;
}

.img-hover:hover {
    transform: scale(1.2);
}